/* COMMON STYLES */

* {
  box-sizing: border-box;
}

body {
  background-color: #0e0e15;
  color: blue;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: yellow;
}

.accordeon {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 90cqw;
  transition: all .3s ease-out;
}

.mem__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mem__title {
  margin: 0;
  font-size: 1.5rem;
  transition: all .3s ease-out;
}

.mem__icon svg {
  width: 1rem;
  height: 1rem;
  fill: blue;
  transition: all .3s ease-out;
}

.mem__input {
  width: 0;
  height: 0;
  appearance: none;
  opacity: 0;
}

.mem__input:checked ~ .mem__content {
  height: 54cqw;
}

.mem__input:checked ~ .mem__title-container .mem__icon svg {
  fill: aqua;
  transform: rotate(180deg);
}

.mem__input:checked ~ .mem__title-container .mem__title {
  color: aqua;
}

.mem__content {
  height: 0;
  width: 90cqw;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-out;
}

.mem__content_1 {
  background-image: url('./img/exposition.jpg');
}

.mem__content_2 {
  background-image: url('./img/action.jpg');
}

.mem__content_3 {
  background-image: url('./img/culmination.jpg');
}

.mem__content_4 {
  background-image: url('./img/epilog.jpg');
}

@media (min-width: 819.7px) {
  .title {
    font-size: 3rem;
  }
  .mem__title {
    font-size: 2rem;
  }
  .mem__icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mem__input:checked ~ .mem__content {
    height: 43.2cqw;
  }

  .mem__content {
    width: 72cqw;
  }
}

@media (min-width: 819.7px) {
  .title {
    font-size: 3rem;
  }
  .accordeon {
    max-width: 72cqw;
  }
  .mem__title {
    font-size: 2rem;
  }
  .mem__icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mem__input:checked ~ .mem__content {
    height: 43.2cqw;
  }

  .mem__content {
    width: 72cqw;
  }
}

@media (min-width: 1919.7px) {
  .title {
    font-size: 5rem;
  }
  .accordeon {
    max-width: 60cqw;
  }
  .mem__title {
    font-size: 3.5rem;
  }
  .mem__icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .mem__label {
    cursor: pointer;
  }

  .mem__input:checked ~ .mem__content {
    height: 36cqw;
  }

  .mem__content {
    width: 60cqw;
  }

  /* HOVER EFFECTS */
  .accordeon:hover {
    color: white;
  }

  .accordeon:hover .mem__icon svg {
    fill: white;
  }

  .mem:hover .mem__title{
    text-shadow: 0 0 0.6rem aqua, 0 0 0.6rem aqua;
    color: aqua;
  }

  .mem:hover .mem__icon svg{
    filter: drop-shadow(0 0 1.2rem aqua) drop-shadow(0 0 1.2rem aqua) drop-shadow(0 0 1.2rem aqua) drop-shadow(0 0 1.2rem aqua);
    transform: rotate(90deg);
    fill: aqua;
  }
  .mem:hover .mem__content{
    box-shadow: inset 0 0 2rem aqua, inset 0 0 2rem aqua, inset 0 0 2rem aqua, inset 0 0 2rem aqua;
  }
  .mem:hover .mem__content {
    height: 36cqw;
  }
}

/* ACTIVE EFFECT */
.mem:active .mem__title{
  text-shadow: 0 0 0.6rem red, 0 0 0.6rem red;
  color: red !important; 
}

.mem__label:active {
  cursor: grabbing;
}

.mem:active .mem__icon svg{
  filter: drop-shadow(0 0 1.2rem red) drop-shadow(0 0 1.2rem red) drop-shadow(0 0 1.2rem red) drop-shadow(0 0 1.2rem red);
  fill: red !important;
}
.mem:active .mem__content{
  box-shadow: inset 0 0 2rem red, inset 0 0 2rem red, inset 0 0 2rem red, inset 0 0 2rem red;
}

